<div class="container">
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            
            <h4><i class="glyphicon glyphicon-wrench" style="padding-right:0.5em"></i> {{currentItem.SupplierName}}
                 [{{currentItem.ID}}]
            </h4>
          </div>
        </div>
        <div class="panel-body">
          
          <form class="form form-vertical">
            <div class="control-group">
              <label>Description</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="master.Description">
              </div>
            </div>      
            <div class="control-group">
              <label>Category</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="master.Category">
              </div>
            </div> 
            <div class="control-group">
              <label>Outlet Name</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="master.OutletName">
              </div>
            </div>
              <div class="control-group">
              <label>Price ($)</label>
              <div class="controls">
                <input type="number" class="form-control" ng-model="master.Price">
              </div>
            </div> 
            <div class="control-group">
              <label>Unit</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="master.Unit">
              </div>
            </div>
            <div class="control-group">
              <label>Unit Purchase Price</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="master.UnitPurchasePrice">
              </div>
            </div>  
            <div class="control-group">
              <label></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary" ng-click="updateSupplier()">
                  Confirm
                </button>
              </div>
            </div>   
            
          </form>
          
          
        </div><!--/panel content-->
      </div><!--/panel-->