<!--
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script>
    $(document).ready(function() {
    $('#ab').DataTable();
} );
</script>
-->
<div class="container">
    
    
<!--
    <div class="">
        <button class="btn btn-success" ng-click="newIngredient()">
            <span class="glyphicon glyphicon-plus"></span>
            Create new
        </button>
	</div>
-->
    <div style="padding-top:2em">
        <div style="font-size:2em;padding-right:1em;display:inline"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Inventory </div>
         <div class="span12 pull-right search-form"  style="display:inline;padding-top:0.7em">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
        </div>

    </div>
    <!--spacer-->
    <div style="height:1em"></div>
    <!--spacer-->
    
    <table id="ab" class="table table-hover table-bordered" cellspacing="0" width="100%" style="padding-top:1em">
        <thead class="thead-inverse">
            <tr style="background-color:#3b3e44;color:white">
                <th style="width:5%">ID</th>
                <th style="width:23%">Name</th>
                <th>Description</th>
                <th style="width:15%">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ingredient in ingredientsList" ng-click="getDetails(ingredient.ID)">
                <td>{{ingredient.ID}}</td>
                <td>{{ingredient.Name}}</td>
                <td>{{ingredient.Description}}</td>
                <td>{{ingredient.Category}}</td>
            </tr>
        </tbody>
    </table>
</div>


<!--  Details Modal  -->
<script type="text/ng-template" id="ingredientDetails.html">
	<div class="modal-header" style="background-color:#0d3e99">
		<h3 class="modal-title" style="display:inline;color:white;">{{selectedItem.Name}}</h3>
        <h4 class="pull-right" style="color:white">Ingredient ID: {{selectedItem.ID}}</h4>
	</div>
	<div class="modal-body">
<!--
        <ul class="list-group" style="font-size:1.5em">
          <li class="list-group-item">Category:{{selectedItem.Category}}</strong></li>
          <li class="list-group-item">Description: {{selectedItem.Description}}</li>
          <li class="list-group-item">Unit: {{selectedItem.Unit}}</li>
            <li class="list-group-item">Unit Purchase Price: {{selectedItem.UnitPurchasePrice}}</li>
        </ul>
-->
        <table class="table table-hover"> 
            <tbody style="font-size:1.5em">
    				<tr>
    					<td style="width:20%">Category:</td>
    					<td>{{selectedItem.Category}}</td>
    				</tr>
                    <tr>
    					<td style="">Description:</td>
    					<td>{{selectedItem.Description}}</td>
    				</tr>
                    <tr>
    					<td style="">Unit:</td>
    					<td>{{selectedItem.Unit}}</td>
    				</tr>
                    <tr>
    					<td style="">Purchase Price:</td>
    					<td>$ {{selectedItem.UnitPurchasePrice.toFixed(2)}}</td>
    				</tr>
            </tbody>
        </table>
        
	</div>
	<div class="modal-footer">
        <a type="button" class="btn btn-primary" ng-click="ok()" href="#/inventory/{{selectedItem.ID}}" >
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>

<style>
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
</style>
