<!--
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script>
    $(document).ready(function() {
    $('#ab').DataTable();
} );
</script>
-->
<div class="container">
    
    
<!--
    <div class="">
        <button class="btn btn-success" ng-click="newIngredient()">
            <span class="glyphicon glyphicon-plus"></span>
            Create new
        </button>
	</div>
-->
    <div style="font-size:2em">Inventory</div>
    <!--spacer-->
    <div style="height:1em"></div>
    <!--spacer-->
    
    <table id="ab" class="table table-hover table-bordered" cellspacing="0" width="100%" style="padding-top:1em">
        <thead class="thead-inverse">
            <tr>
                <th style="width:5%">ID</th>
                <th style="width:23%">Name</th>
                <th>Description</th>
                <th style="width:15%">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ingredient in ingredientsList" ng-click="getDetails(ingredient.ID)">
                <td>{{ingredient.ID}}</td>
                <td>{{ingredient.Name}}</td>
                <td>{{ingredient.Description}}</td>
                <td>{{ingredient.Category}}</td>
            </tr>
        </tbody>
    </table>
</div>


<!--  Details Modal  -->
<script type="text/ng-template" id="ingredientDetails.html">
	<div class="modal-header" style="background-color:limegreen">
		<h3 class="modal-title" style="display:inline;color:white">{{selectedItem.Name}}</h3>
        <h4 class="pull-right" style="color:white">Ingredient ID: {{selectedItem.ID}}</h4>
	</div>
	<div class="modal-body">
        <h3>Category: {{selectedItem.Category}}</h3>
        <h3>Description: {{selectedItem.Description}}</h3>
        <h3>OutLet Name: {{selectedItem.OutletName}}</h3>
        <h3>Price: {{selectedItem.Price}}</h3>
        <h3>Unit: {{selectedItem.Unit}}</h3>
        <h3>Unit Purchase Price: {{selectedItem.UnitPurchasePrice}}</h3>
	</div>
	<div class="modal-footer">
<!--		<button class="btn btn-success" ng-click="ok()">OK</button>-->
        <a type="button" class="btn btn-primary" ng-click="ok()" href="#/inventory/{{selectedItem.ID}}" >
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>


