<div class="container" style="padding-top:2em">
<div style="padding-bottom:1em" class="search-container">
        <div style="font-size:2em;padding-right:1em;display:inline"><i class="glyphicon glyphicon-list-alt"></i> Purchase Orders</div>
        <div style="display:inline">
                <a class="btn btn-success" href="#/purchaseOrders/create">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create new
                </a>
        </div>
        <div class="span12 pull-right search-form"  style="display:inline;padding-top:0.7em">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search" ng-model="searchText">
                    <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
        </div>
    </div>

<table id="ab" class="table table-hover table-bordered" cellspacing="0" width="100%" style="padding-top:1em">
        <thead class="thead-inverse">
            <tr style="background-color:#3b3e44;color:white">
                <th style="width:5%" ng-click="sortType = 'ID'; sortReverse = !sortReverse">ID
                    <span ng-show="sortType == 'ID' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    <span ng-show="sortType == 'ID' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th style="width:14%" ng-click="sortType = 'DateCreated'; sortReverse = !sortReverse">Date Created
                    <span ng-show="sortType == 'DateCreated' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    <span ng-show="sortType == 'DateCreated' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th ng-click="sortType = 'Ingredient'; sortReverse = !sortReverse">Ingredients
                    <span ng-show="sortType == 'Ingredient' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    <span ng-show="sortType == 'Ingredient' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th style="width:25%" ng-click="sortType = 'SupplierName'; sortReverse = !sortReverse">Supplier
                    <span ng-show="sortType == 'SupplierName' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    <span ng-show="sortType == 'SupplierName' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th style="width:10%" ng-click="sortType = 'TotalWorth'; sortReverse = !sortReverse">Price
                    <span ng-show="sortType == 'TotalWorth' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    <span ng-show="sortType == 'TotalWorth' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th style="width:10%" ng-click="sortType = 'Status'; sortReverse = !sortReverse">Status
                    <span ng-show="sortType == 'Status' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    <span ng-show="sortType == 'Status' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="purchaseOrder in purchaseOrders |  filter:searchText | orderBy:sortType:sortReverse" ng-click="getDetails(purchaseOrder.ID)">
                <td class="text-center" style="padding-top:2em">{{purchaseOrder.ID}}</td>
                <td class="text-center" style="padding-top:2em">{{purchaseOrder.DateCreated}}</td>
                <td>
                    <div data-ng-repeat="i in purchaseOrder.Ingredients">
                        {{i}}
                    </div>
                </td>
                <td class="text-center" style="padding-top:2em">{{purchaseOrder.SupplierName}}</td>
                <td style="font-size:1em;padding-top:2em;font-weight:bold" class="text-center">$ {{purchaseOrder.TotalWorth}}</td>
                <td ng-class="{'pending':purchaseOrder.Status=='pending','cancelled':purchaseOrder.Status=='cancelled','fulfilled':purchaseOrder.Status=='fulfilled'}" style="font-size:1em;padding-top:2em" class="text-center">{{purchaseOrder.Status}}</td>
            </tr>
        </tbody>
    </table>
    
</div>

<!--  Details Modal  -->
<script type="text/ng-template" id="PoDetails.html">
	<div class="modal-header" style="background-color:#139970;color:white">
        <div style="font-size:2em;display:inline">{{selectedItem.SupplierName}}</div>
        <div class="pull-right" style="font-size:2em">[{{selectedItem.ID}}]</div>
	</div>
	<div class="modal-body">
        <div style="font-size:1.5em;border-bottom:1px solid gray">
            <div style="display:inline">Date Created: {{selectedItem.DateCreated}}</div>
            <div class="pull-right" ng-class="{'pendingw':selectedItem.Status=='pending','cancelledw':selectedItem.Status=='cancelled','fulfilledw':selectedItem.Status=='fulfilled'}">
                {{selectedItem.Status.charAt(0).toUpperCase()+ selectedItem.Status.slice(1)}}
            </div>
        </div>
        <div class="row" style="padding-top:1em;padding-bottom:1em">
            <div class="col-md-2">
                <h4 style="text-decoration:underline">Ingredient</h4>
                <h4 data-ng-repeat="i in ingredientArr">{{i}}</h4>
            </div>
            <div class="col-md-3 text-center">
                <h4 style="text-decoration:underline">Quantity ({{selectedItem.Unit}})</h4>
                <h4 data-ng-repeat="i in quantityArr">{{i}}</h4>
            </div>
            <div class="col-md-3 text-center">
                <h4 style="text-decoration:underline">Price per Unit</h4>
                <h4 data-ng-repeat="i in priceArr">$ {{i.toFixed(2)}}</h4>
            </div>
        </div>
        <div style="border-top:1px solid black;font-size:2em;padding-bottom:1em;padding-top:0.2em">Total Worth: ${{selectedItem.TotalWorth}}</div>
        <div class="form-group">
          <label for="sel1">Edit Status</label>
          <select class="form-control" ng-model="master.Status">
            <option>pending</option>
            <option>cancelled</option>
            <option>fulfilled</option>
          </select>
        </div>
        </div>
	</div>
<!--    <div style="">{{selectedItem.TotalWorth}}</div>-->
	<div class="modal-footer">
<!--		<button class="btn btn-success" ng-click="ok()">OK</button>-->
        <button ng-show="selectedItem.Status=='cancelled'" class="btn btn-danger pull-left" ng-click="deletePurchaseOrder()">Delete</button>
        <button type="button" class="btn btn-primary" ng-click="editPurchaseOrder()">
            <span class="glyphicon glyphicon-pencil"></span> Save
        </button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>

<style>
    .pending {
        color: white;
        background-color: #ffbf00
    }
    .cancelled {
        color:white;
        background-color: #ff3d3d
    }
    .fulfilled {
        color: white;
        background-color: #3fd112
    }
     .pendingw {
        color: orange;
    }
    .cancelledw {
        color:red;
    }
    .fulfilledw {
        color: forestgreen;
    }
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
</style>