<div class="container" style="padding-top:2em">
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            
            <h4><i class="glyphicon glyphicon-wrench" style="padding-right:0.5em"></i> {{currentItem.name}}
                (Supplier Id: {{currentItem.supplierId}}) 
            </h4>
          </div>
        </div>
        <div class="panel-body">
          
          <form class="form form-vertical" name="editSupplierForm">
            <div class="control-group">
              <label>Contact Number</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="currentItem.contactNumber" required>
              </div>
            </div>      
            <div class="control-group">
              <label>Type</label>
              <div class="controls">
                <input type="text" class="form-control" ng-model="currentItem.type" required>
                
              </div>
            </div>   
            <div class="control-group">
              <label></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary" ng-click="updateSupplier()" ng-disabled="editSupplierForm.$invalid">
                  Confirm
                </button>
              </div>
            </div>   
            
          </form>
          
          
        </div><!--/panel content-->
      </div><!--/panel-->
